
.opnb{
 font-family: 'Open Sans', sans-serif;
 font-weight: 700;
font-style: italic;
}
.opnr{
 font-family: 'Open Sans', sans-serif;
font-weight: 400;
font-style: normal;
}
/* base color */
@base-or: #ea3d12;
@white: #ffffff;
@black: #000000;
/* one-lep */
body{
	p{
		color: @white;
	}
}
/* Header */
.navbar{
	margin: 0;
	margin-top: 15px;
	padding: 0;
	list-style-type: none;
	li{
			display: inline;
			padding: 0px;
			margin-left: 110px;
		.gosti{
			margin-left: 140px;
			}
			a{
				color: @black;
				font-size: 18px;
				.opnb;
				&:hover{
					color:@base-or;
					text-decoration: none;
				}
			}
		}
	}

.header-nav{
	border-right: 1px solid @base-or;
	border-left: 1px solid @base-or;
	img{
		height: 50px;
		margin-top: -90px;
		margin-left: 470px;
	}
}

/* /header */
#imag{
	height: 800px;
}
.main{
	img{
		margin-top: 4px;
		width: 100%;
		height: 800px;
	}
	h1{
		margin-top: -500px;
		color: @white;
		font-size: 40px;
		.opnb
	}
}

/* /one-lep */



/* Наше Кофе */
#coffe{
	height: 2000px;
	background-image: url(../img/bg-bady.jpg);
}
.zagolovok{
	h2{
		color: @white;
		.opnb;
		font-size: 40px;
		margin-top: 100px;
	}
}
.anatom{
	margin-top: 100px;
	position: relative;
	border: 10px solid @base-or;
	padding: 20px 40px;
	height: 946px;
	h3{
		color: @white;
		.opnb;
		font-size: 30px;
	}
	&-line{
		position: relative;
		height: 10px;
		margin: 0 0 25px 0;
		img{
			width: 38px;
			height: 10px;
		}
		&:before{
			content: '';
			position: absolute;
			top: 11px;
			width: 450px;
			border-top: 1px dashed @base-or;
			left: 560px;
		}
		&:after{
			content: '';
			position: absolute;
			top: 11px;
			width: 470px;
			border-top: 1px dashed @base-or;
			left: 0px;
		}
	}
}

ul{
	list-style-type: none;
	li{
		display: inline-block;
		padding: 5px 30px 0px;
		p{
			font-size: 17px;
			color: @base-or;
			border-bottom: 1px dashed @base-or;
			cursor: pointer;
			&:hover{
				border-bottom: none;
				color: @white;
			}
		}
		img{
			cursor: pointer;

		}
	}
}
.tabs_menu{
	li{
		p{
			&:hover{
			color: @white;
			}
		}
	}
}
.info{
	display: inline-block;
}

.tabs{
	.info{
		display: none;
		h4{
			font-size: 21px;
			.opnb;
			color: @base-or;
		}
		p{
			font-size: 14px;
			.opnr;
		}
	}
}
.coffe-gl{
	img{
			height: 155px;
			width: 347px;
			margin-top: 200px;
		}
}
.sostav{
	margin-left: -800px;
	margin-top: -200px;
}
.arrow{
	margin-top: -270px;
	margin-left: -300px;
	img{
		height: 150px;
		width: 250px;
	}
}
/* АМЕРИКАНО */
.coffe-gl-1{
	img{
		height: 250px;
		width: 380px;
		margin-top: 150px;
	}
}
.arrow1{
	margin-top: -230px;
	margin-left: -350px;
	img{
		height: 150px;
		width: 250px;
	}
}
.sostav1{
	position: absolute;
	margin-top: -150px;
	margin-left: 820px;
}
.arrow2{
	margin-top: -70px;
	margin-left: 350px;
	img{
		height: 150px;
		width: 350px;
	}
}
/* КОПУЧИНО */
.arrow1{
	margin-top: -230px;
	margin-left: -350px;
	img{
		height: 150px;
		width: 250px;
	}
}
.sostav-mp{
	position: absolute;
	margin-top: -200px;
	margin-left: 30px;
}
.sostav-molok{
	position: absolute;
	margin-top: -250px;
	margin-left: 850px;
}
.sostav-espres{
	position: absolute;
	margin-top: -50px;
	margin-left: 30px;
}
.arrow-cop{
	margin-top: -320px;
	margin-left: -350px;
	img{
		height: 150px;
		width: 250px;
	}
}
.arrow-cop3{
	margin-top: -62px;
	margin-left: -320px;
	img{
		height: 180px;
		width: 280px;
	}
}
.arrow-cop2{
	margin-top: -190px;
	margin-left: 420px;
	img{
		height: 150px;
		width: 300px;
	}
}

/* ПО-ВЕНСКИ */
.sostav{
	&-cedra{
		position: absolute;
		margin-top: -350px;
		margin-left: 30px;
	}
	&-slivki{
		position: absolute;
		margin-top: -100px;
		margin-left: 30px;
	}
	&-korica{
		position: absolute;
		margin-top: -350px;
		margin-left: 800px;
	}
	&-espres2{
		position: absolute;
		margin-top: -100px;
		margin-left: 800px;
	}
}

.arrow{
	&-venski1{
		margin-top: -360px;
		margin-left: -300px;
		img{
			width: 200px;
			height: 150px;
			transform: skewY(20deg);
		}
	}
	&-venski2{
		margin-top: -150px;
		margin-left: -330px;
		img{
			width: 300px;
			height: 250px;
		}
	}
	&-venski3{
		margin-top: -220px;
		margin-left: 300px;
		img{
			width: 300px;
			height: 150px;
		}
	}
	&-venski4{
		margin-top: 30px;
		margin-left: 400px;
		img{
			width: 300px;
			height: 150px;
			transform: skewY(20deg);
		}
	}
}

/*Меланж */
.sostav{
	&-moloko{
		position: absolute;
		margin-top: -350px;
		margin-left: 30px;
	}
	&-espres3{
		position: absolute;
		margin-top: -100px;
		margin-left: 30px;
	}
	&-penka{
		position: absolute;
		margin-top: -350px;
		margin-left: 800px;
	}
	&-med{
		position: absolute;
		margin-top: -100px;
		margin-left: 800px;
	}
}

.arrow{
	&-melanj1{
		margin-top: -360px;
		margin-left: -300px;
		img{
			width: 200px;
			height: 150px;
			transform: skewY(20deg);
		}
	}
	&-melanj2{
		margin-top: -100px;
		margin-left: -330px;
		img{
			width: 300px;
			height: 250px;
		}
	}
	&-melanj3{
		margin-top: -230px;
		margin-left: 350px;
		img{
			width: 250px;
			height: 150px;
			transform: skewY(-20deg);
		}
	}
	&-melanj4{
		margin-top: -37px;
		margin-left: 400px;
		img{
			width: 300px;
			height: 150px;
			transform: skewY(20deg);
		}
	}
}

/* ЛАТТЕ */
.coffe-gl-2{
	img{
		height: 274px;
		width: 213px;
		margin-top: 150px;
	}
}

.sostav{
	&-mp1{
		position: absolute;
		margin-top: -320px;
		margin-left: 30px;
	}
	&-espres4{
		position: absolute;
		margin-top: -300px;
		margin-left: 800px;
	}
	&-molok1{
		position: absolute;
		margin-top: -150px;
		margin-left: 30px;
	}
}
.arrow{
	&-latte1{
		margin-top: -400px;
		margin-left: -300px;
		img{
			width: 200px;
			height: 150px;
			transform: skewY(10deg);
		}
	}
	&-latte2{
		margin-top: -15px;
		margin-left: -270px;
		img{
			width: 200px;
			height: 150px;
		}
	}
	&-latte3{
		margin-top: -150px;
		margin-left: 290px;
		img{
			width: 250px;
			height: 150px;
			transform: skewY(10deg);
		}
	}
}