.opnb {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-style: italic;
}
.opnr {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
}
/* base color */
/* one-lep */
body p {
  color: #ffffff;
}
/* Header */
.navbar {
  margin: 0;
  margin-top: 15px;
  padding: 0;
  list-style-type: none;
}
.navbar li {
  display: inline;
  padding: 0px;
  margin-left: 110px;
}
.navbar li .gosti {
  margin-left: 140px;
}
.navbar li a {
  color: #000000;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-style: italic;
}
.navbar li a:hover {
  color: #ea3d12;
  text-decoration: none;
}
.header-nav {
  border-right: 1px solid #ea3d12;
  border-left: 1px solid #ea3d12;
}
.header-nav img {
  height: 50px;
  margin-top: -90px;
  margin-left: 470px;
}
/* /header */
#imag {
  height: 800px;
}
.main img {
  margin-top: 4px;
  width: 100%;
  height: 800px;
}
.main h1 {
  margin-top: -500px;
  color: #ffffff;
  font-size: 40px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-style: italic;
}
/* /one-lep */
/* Наше Кофе */
#coffe {
  height: 2000px;
  background-image: url(../img/bg-bady.jpg);
}
.zagolovok h2 {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: 40px;
  margin-top: 100px;
}
.anatom {
  margin-top: 100px;
  position: relative;
  border: 10px solid #ea3d12;
  padding: 20px 40px;
  height: 946px;
}
.anatom h3 {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: 30px;
}
.anatom-line {
  position: relative;
  height: 10px;
  margin: 0 0 25px 0;
}
.anatom-line img {
  width: 38px;
  height: 10px;
}
.anatom-line:before {
  content: '';
  position: absolute;
  top: 11px;
  width: 450px;
  border-top: 1px dashed #ea3d12;
  left: 560px;
}
.anatom-line:after {
  content: '';
  position: absolute;
  top: 11px;
  width: 470px;
  border-top: 1px dashed #ea3d12;
  left: 0px;
}
ul {
  list-style-type: none;
}
ul li {
  display: inline-block;
  padding: 5px 30px 0px;
}
ul li p {
  font-size: 17px;
  color: #ea3d12;
  border-bottom: 1px dashed #ea3d12;
  cursor: pointer;
}
ul li p:hover {
  border-bottom: none;
  color: #ffffff;
}
ul li img {
  cursor: pointer;
}
.tabs_menu li p:hover {
  color: #ffffff;
}
.info {
  display: inline-block;
}
.tabs .info {
  display: none;
}
.tabs .info h4 {
  font-size: 21px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-style: italic;
  color: #ea3d12;
}
.tabs .info p {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
}
.coffe-gl img {
  height: 155px;
  width: 347px;
  margin-top: 200px;
}
.sostav {
  margin-left: -800px;
  margin-top: -200px;
}
.arrow {
  margin-top: -270px;
  margin-left: -300px;
}
.arrow img {
  height: 150px;
  width: 250px;
}
/* АМЕРИКАНО */
.coffe-gl-1 img {
  height: 250px;
  width: 380px;
  margin-top: 150px;
}
.arrow1 {
  margin-top: -230px;
  margin-left: -350px;
}
.arrow1 img {
  height: 150px;
  width: 250px;
}
.sostav1 {
  position: absolute;
  margin-top: -150px;
  margin-left: 820px;
}
.arrow2 {
  margin-top: -70px;
  margin-left: 350px;
}
.arrow2 img {
  height: 150px;
  width: 350px;
}
/* КОПУЧИНО */
.arrow1 {
  margin-top: -230px;
  margin-left: -350px;
}
.arrow1 img {
  height: 150px;
  width: 250px;
}
.sostav-mp {
  position: absolute;
  margin-top: -200px;
  margin-left: 30px;
}
.sostav-molok {
  position: absolute;
  margin-top: -250px;
  margin-left: 850px;
}
.sostav-espres {
  position: absolute;
  margin-top: -50px;
  margin-left: 30px;
}
.arrow-cop {
  margin-top: -320px;
  margin-left: -350px;
}
.arrow-cop img {
  height: 150px;
  width: 250px;
}
.arrow-cop3 {
  margin-top: -62px;
  margin-left: -320px;
}
.arrow-cop3 img {
  height: 180px;
  width: 280px;
}
.arrow-cop2 {
  margin-top: -190px;
  margin-left: 420px;
}
.arrow-cop2 img {
  height: 150px;
  width: 300px;
}
/* ПО-ВЕНСКИ */
.sostav-cedra {
  position: absolute;
  margin-top: -350px;
  margin-left: 30px;
}
.sostav-slivki {
  position: absolute;
  margin-top: -100px;
  margin-left: 30px;
}
.sostav-korica {
  position: absolute;
  margin-top: -350px;
  margin-left: 800px;
}
.sostav-espres2 {
  position: absolute;
  margin-top: -100px;
  margin-left: 800px;
}
.arrow-venski1 {
  margin-top: -360px;
  margin-left: -300px;
}
.arrow-venski1 img {
  width: 200px;
  height: 150px;
  transform: skewY(20deg);
}
.arrow-venski2 {
  margin-top: -150px;
  margin-left: -330px;
}
.arrow-venski2 img {
  width: 300px;
  height: 250px;
}
.arrow-venski3 {
  margin-top: -220px;
  margin-left: 300px;
}
.arrow-venski3 img {
  width: 300px;
  height: 150px;
}
.arrow-venski4 {
  margin-top: 30px;
  margin-left: 400px;
}
.arrow-venski4 img {
  width: 300px;
  height: 150px;
  transform: skewY(20deg);
}
/*Меланж */
.sostav-moloko {
  position: absolute;
  margin-top: -350px;
  margin-left: 30px;
}
.sostav-espres3 {
  position: absolute;
  margin-top: -100px;
  margin-left: 30px;
}
.sostav-penka {
  position: absolute;
  margin-top: -350px;
  margin-left: 800px;
}
.sostav-med {
  position: absolute;
  margin-top: -100px;
  margin-left: 800px;
}
.arrow-melanj1 {
  margin-top: -360px;
  margin-left: -300px;
}
.arrow-melanj1 img {
  width: 200px;
  height: 150px;
  transform: skewY(20deg);
}
.arrow-melanj2 {
  margin-top: -100px;
  margin-left: -330px;
}
.arrow-melanj2 img {
  width: 300px;
  height: 250px;
}
.arrow-melanj3 {
  margin-top: -230px;
  margin-left: 350px;
}
.arrow-melanj3 img {
  width: 250px;
  height: 150px;
  transform: skewY(-20deg);
}
.arrow-melanj4 {
  margin-top: -37px;
  margin-left: 400px;
}
.arrow-melanj4 img {
  width: 300px;
  height: 150px;
  transform: skewY(20deg);
}
/* ЛАТТЕ */
.coffe-gl-2 img {
  height: 274px;
  width: 213px;
  margin-top: 150px;
}
.sostav-mp1 {
  position: absolute;
  margin-top: -320px;
  margin-left: 30px;
}
.sostav-espres4 {
  position: absolute;
  margin-top: -300px;
  margin-left: 800px;
}
.sostav-molok1 {
  position: absolute;
  margin-top: -150px;
  margin-left: 30px;
}
.arrow-latte1 {
  margin-top: -400px;
  margin-left: -300px;
}
.arrow-latte1 img {
  width: 200px;
  height: 150px;
  transform: skewY(10deg);
}
.arrow-latte2 {
  margin-top: -15px;
  margin-left: -270px;
}
.arrow-latte2 img {
  width: 200px;
  height: 150px;
}
.arrow-latte3 {
  margin-top: -150px;
  margin-left: 290px;
}
.arrow-latte3 img {
  width: 250px;
  height: 150px;
  transform: skewY(10deg);
}
