.lato{
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
}
.arvo{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

// Base colors//
@yelow: #e09402;
@base-text: #6b3b25;
@base-black: #dedad3;
@white:#ebe6df;

body{
	background-image: url(../img/bg.jpg);
	p{
		color:@base-text;
	}
}

.container{
	background-color:@base-black;
}

.header{
	height: 155px;
	margin-top: 30px;
	background-image: url(../img/pattern.png);
	&-logo{
		h1{
			.lato;
			font-size: 60px;
			color:@base-text;
			margin-bottom: 0;
		}
		p{
			.arvo;
			font-size: 18px;
			font-weight: 900;
		}
		 
	}
	&-icon{
		margin-top: 40px;
		a{
			padding-left: 5px;
		}
		&-one{
			&:hover{
				background-color: red;
			}
		}
	}
}
.nav{
	margin-top: 30px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	&-panel{
		height: 65px;
		width: 100%;
		background-color:@yelow;
		border-top: 3px solid #f6a201;
		border-bottom: 3px solid #c78301;
		}
		ul{
			display: block;
			li{
				position: absolute;
				display:block;
				margin-top: -3px;
				height: 65px;
				color:@white;
				border:0px;
				list-style: none;
				a{
					display: block;
				    line-height: 65px;
				    padding-left: 15px;
				    padding-right: 15px;
				    text-decoration: none;
				    color: #dedad3;
				    text-shadow: 0px 2px 0px #c68301;
				}
				h3{
					font-size:17px;
					text-shadow: 0px 2px 0 rgba(0, 0, 0, 0.2);
					.arvo
				}
				&:hover{
					background-color:@base-text;
					cursor: pointer;
					
				}
			}
		}
}
	
.home{
	background-color:@base-text;
	top: 0;
	left:0;
	width: 78px;
	width: 100px;
		a{
		}
}
.work{
	top: 0;
	left: 100px;
	width: 100px;
}
.blog{
	top: 0;
	left: 190px;
	width: 100px;
}
.page{
	top: 0;
	left: 290px;
	width: 180px;
}
.contact{
	top: 0;
	left: 470px;
	width: 120px;
}

.slider{
	height:100vh;
	background-color: @base-black;
	&-box{
		margin-top: 100px;
		&-br{
			img{
				width: 80%;
				border: 7px solid @white;
				box-shadow: 0 0 10px rgba(0,0,0,0.5)
			}
		}
	}
}

.logo{
	margin-top: 0px;
	width: 100%;
	h2{
		.lato;
		font-size: 36px;
		color:@base-text;
	}
	&-work-nav{
		p{
			.lato;
			font-size: 18px;
			color:@base-text;
			text-align: left;
			margin-top: 17px;
		}
		a{
			
			display: block;
			color: @base-text;
			margin-top: -36px;
			margin-left: 750px;
		}
	}
	&-line{
		&-top{
			span{
				display: inline-block;
				background-color:@base-text;
				border: 4px solid @base-text;
				width: 100%;
				margin-top: 40px;
			}
		}
		&-btn{
			span{
				display: inline-block;
				background-color: @base-text;
				border: 1px solid @base-text;
				width: 100%;
				margin-top: 15px;
			}
		}
	}
}
.signature{
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	margin-left: 20px;
	margin-top: 5px;
	width: 299px;
	height: 352px;
	background-color: rgba(107, 59, 37, 0.8);
	color: @white;
	text-align: center;
	padding-top: 160px;
	-webkit-transition: opacity 0.5s;
	-o-transition: opacity 0.5s;
	transition: opacity 0.5s;
	&:hover{
		opacity: 1;
	}
}


.sign{
	button{
		padding: 5px 30px;
		border: 3px solid #f5a101;
		background-color:@yelow;
		box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.2);
		border-bottom: 0;
		p{
			.arvo;
			font-size: 12px;
			color: @white;
			text-shadow: 0px 2px 0 rgba(0, 0, 0, 0.2);
		}

	}
}

.work-show{
	margin-top: -100px;
}

.wokr-img{
	margin-top: 65px;
	img{
		border: 6px solid @white;
	
	}
	h2{
		.lato;
		font-size: 29px;
		color: @base-text;
		margin-bottom: 25px;
	}
	p{
		font-size: 16px;
		.arvo;
	}
	a{
		display: inline-block;
		height: 38px;
		width: 98px;
		background-color:#e09402;
		border: 3px solid #f5a101;
		-webkit-box-shadow: 7px 7px 4px 0px rgba(0, 20, 0, 0.11);
		-moz-box-shadow:    7px 7px 4px 0px rgba(0, 20, 0, 0.11);
		box-shadow:         7px 7px 4px 0px rgba(0, 20, 0, 0.11);
		&:hover{
			text-decoration: none;
			border: none;
			box-shadow: none;
		}

		p{
			font-size: 14px;
			text-align: center;
			padding: 5px;
			color: @white;
		}
	}
}
#video{
	height: 100vh;
}
.container{
	background-color: @base-black;
}
.pv{
	margin-top: 65px;
}
.post{
	&-line{
		&-top{
			span{
				display: inline-block;
				background-color:@base-text;
				border: 4px solid @base-text;
				width: 100%;
				margin-top: 40px;
			}
			h3{
				font-size: 18px;
				.lato;
				text-align: left;
				color: @base-text;
			}
			a{
			display: block;
			color: @base-text;
			margin-top: -30px;
			margin-left: 250px;
			}
		}
		&-btn{
			span{
				display: inline-block;
				background-color: @base-text;
				border: 1px solid @base-text;
				width: 100%;
				margin-top: 15px;
			}
		}
	}
}

.stait{
	h3{
		font-size: 20px;
		color: @base-text;
		.lato;
		text-decoration: underline;
		&:hover{
			font-size: 25px;
		}
	}
	p{
		font-size: 16px;
		color: @yelow;
	}
}

#video{
	height: 100%;
}
video{
	width: 500px;
	height: 400px;
}

.video{
	h3{
		font-size: 21px;
		.lato;
		color: @base-text;
	}
	p{
		text-align: left;
		.arvo;
		font-size: 16px;
		padding-bottom: 60px;
	}
}


.footer{
	height: 122px;
	/* margin-top: -75px; */
	background-image: url(../img/bg-footer.jpg);
	border-top: 3px solid @yelow;
	&-cl-2{
		.arrow-w{
		position: absolute;
		top: -40px;
		left: 50%;
		}
		p{
			color: @yelow;
			font-size: 18px;
			.arvo;
		}
		&-number{
			margin-top: 10px;
			img{
				position: absolute;
				top: 36%;
				right: 170px;
			}
		}
	}
}


/* modals */

.modal{
	&-content{
		width: 100%;
		background-color: @base-black;
	}
	&-header{
		border-bottom: none;
		h4{
			.lato;
			font-size: 28px;
			color: @base-text;
		}
	}
	&-body{
		background-color: @base-black;
		p{
			.arvo;
			font-size:16px;
			span{
				.lato;
			}
		}
		h2{
			.lato;
			color:@base-text;
			font-size: 22px;
			text-align: center;
			
		}
		h3{
			.arvo;
			color: @yelow;
			font-size: 22px;
		}
	}
	&-footer{
		border-top: none;
	}
}

.modal-body{
	li {
    list-style-type: none;
   }
}

.rightimg  {
    float: left; /* Выравнивание по правому краю  */ 
    margin: 7px 0 7px 7px; /* Отступы вокруг картинки */
    padding-right: 9px;
    		}

#modal-8{
	background-image: url(../img/fon.jpg)
}