.opn-reg {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
.opn-bold {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}
body {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #626262;
}
header {
  background: #f5f5f5 url(../img/header-fon.jpg);
  background-size: cover;
  min-height: 780px;
  height: 100vh;
}
section {
  margin-top: 10%;
  margin-bottom: 10%;
}
.sectiop-header,
.featured-header {
  margin-bottom: 5%;
}
.sectiop-header h2,
.featured-header h2 {
  font-size: 50px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}
.sectiop-header h2 span,
.featured-header h2 span {
  color: #fc6744;
}
.sectiop-header p,
.featured-header p {
  font-size: 16px;
}
input:focus,
button:focus,
textarea:focus {
  outline: none;
}
.main-head {
  margin-top: 5%;
}
.main-logo-border {
  text-align: center;
  width: 155px;
  height: 55px;
  border: 2px solid #706b73;
  line-height: 49px;
}
.main-logo-border p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 37px;
  color: #706b73;
}
.main-logo-border p span {
  color: #fd9076;
}
.main-nav-bar {
  width: 55px;
  position: relative;
  float: right;
  height: 55px;
}
.main-text {
  margin-top: 5%;
  text-align: center;
}
.main-text h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 50px;
}
.main-text h1 span {
  color: #fc6744;
}
.main-text p {
  padding-left: 15px;
  padding-right: 15px;
  font-size: 16px;
}
.main-form {
  margin-top: 10%;
  background-color: #ffffff;
  padding: 35px;
  -webkit-box-shadow: 0px 0px 57px 0px rgba(20, 20, 21, 0.2);
  box-shadow: 0px 0px 57px 0px rgba(20, 20, 21, 0.2);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
.main-form-header {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 20px;
}
.main-form-header span {
  color: #fc6744;
}
.main-form-btn {
  background-color: #fc6744;
  border: none;
  padding: 15px 35px;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  color: #ffffff;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
}
.main-form input,
.main-form textarea {
  width: 100%;
  border: none;
  border-bottom: 1px solid #c7c7c7;
  margin-top: 30px;
  font-size: 15px;
}
.line {
  width: 35px;
  height: 5px;
  background-color: #706b73;
  display: block;
  right: 0;
  top: 50%;
  border-radius: 5px;
  -webkit-transform: translateY(5px);
  -moz-transform: translateY(5px);
  -ms-transform: translateY(5px);
  -o-transform: translateY(5px);
  transform: translateY(5px);
}
.line:before,
.line:after {
  background-color: #706b73;
  display: inline-block;
  content: '';
  width: 35px;
  height: 5px;
  border-radius: 5px;
}
.line:before {
  -webkit-transform: translateY(1px);
  -moz-transform: translateY(1px);
  -ms-transform: translateY(1px);
  -o-transform: translateY(1px);
  transform: translateY(1px);
}
:after {
  -webkit-transform: translateY(-8px);
  -moz-transform: translateY(-8px);
  -ms-transform: translateY(-8px);
  -o-transform: translateY(-8px);
  transform: translateY(-8px);
}
.process-box {
  color: #ffffff;
  padding: 25px;
  padding-top: 30px;
  text-align: center;
}
.process-box i.fa {
  font-size: 50px;
}
.process-box h4 {
  font-size: 20px;
  margin-top: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}
.process-box p {
  margin-top: 20px;
  font-size: 16px;
}
.process-btn {
  position: absolute;
  display: inline-block;
  color: #706b73;
  background-color: #ffffff;
  border: none;
  width: 80% ;
  height: 50px;
  border-radius: 50px;
  left: 10%;
  top: 85%;
  font-size: 16px;
}
.box-tomi {
  background-color: #4eb2f7;
}
.box-koimona {
  background-color: #c049f8;
}
.box-koire {
  background-color: #817eff;
}
.box-lara {
  background-color: #f74770;
}
i.fa-camera-retro {
  --webkit-transform: rotate(-15deg);
  -moz-transform: rotate(-15deg);
  -ms-transform: rotate(-15deg);
  -o-transform: rotate(-15deg);
  transform: rotate(-15deg);
}
.featured-box-oreng-one {
  height: 350px;
  width: 350px;
  background-color: #fc6744;
  margin: 10px;
}
.featured-box-oreng-two {
  height: 350px;
  width: 350px;
  background-color: #fc6744;
  margin: 10px;
}
.featured-box-oreng-three {
  height: 350px;
  width: 350px;
  background-color: #fc6744;
  margin: 10px;
}
